<div class="card">
  <div class="card__container">
    <div class="card__header">
      <div class="card__author-info">
        <div class="card__rows-container">
          <img class="card__author-image" src="../../assets/Radchenko/author-image.svg" alt="User's avatar">
          <div class="card__columns-container">
            <p class="card__author-name">Roman Radchenko</p>
            <a href="mailto: radchenko.roman@student.ehu.lt" class="card__email-link">@radchenko.roman</a>
          </div>
        </div>
        <div class="card__logotype">
          <img src="../../assets/Radchenko/twitter-icon.svg" alt="Logotype">
        </div>
      </div>
    </div>
    <div class="card__content">
      <div class="card__content-text">
        Technology is constantly evolving, and it requires continuous learning and adaptation. As a student in the field, I value the opportunity to develop new skills and enhance my understanding of complex systems. I strive to improve my abilities and contribute to the growing field of technology. <span class="blue-highlight">#IT #EHU #JavaScript #Frontend #Backend #Math #ContinuousLearning</span>
      </div>
    </div>
    <div class="card__footer">
      <div class="card__like-container">
        <img class="card__like-button" src="../../assets/Radchenko/heart-icon.svg" alt="Like button">
        <p class="card__like-counter">0</p>
        <p class="card__date">3:40 PM - Feb 24,2022</p>
      </div>
    </div>
  </div>
</div>
