/* CRITICAL: USE #Radchenko AT THE BEGGINING OF EVERY CSS SELECTOR */

#Radchenko .card__email-link {
  text-decoration: none;
}
#Radchenko .card {
  background-color: #243447;
  width: 600px;
  border-radius: 20px;
}
#Radchenko .card__rows-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
#Radchenko .card__container {
  padding: 50px;
}
#Radchenko .blue-highlight {
  color: #1D9AE8;
}

#Radchenko .card__columns-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-bottom: 5px;
}

#Radchenko .card__logotype {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#Radchenko .card__author-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

}

#Radchenko .card__author-image {
  height: 100%;
  width: 64px;
  border-radius: 50%;
}
#Radchenko .card__content-text,
#Radchenko .card__author-name {
  color: white;
}
#Radchenko .card__author-name {
  margin-bottom: 10px;
  font-size: 18px;
}
#Radchenko .card__content-text {
  overflow-wrap: break-word;
  font-size: 16px;
  word-wrap: break-word;
  white-space: normal;
}

#Radchenko .card__date,
#Radchenko .card__email-link,
#Radchenko .card__like-counter {
  color: #99A1AA;
  font-size: 16px;
}

#Radchenko .card__like-container {
  display: flex;
  flex-direction: row;
}

#Radchenko .card__like-button {
  margin-right: 10px;
}

#Radchenko .card__like-counter {
   margin-right: 30px;
}
