.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4vw;
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-nav__item {
  font-size: 3.8vh;
  line-height: 2vh;
  list-style-type: none;
}

.header-nav__item a {
  display: block;
  padding: 10px; /* adjust this value to increase/decrease the clickable area */
  text-decoration: none;
}

.header-nav__logo-title {
  position: absolute;
  transform: translate(-20%, -56%);
  top: 50%;
  left: 50%;
  font-size: 5.4vh;
  line-height: 2vh;
}
