html {
  overflow: hidden;
  font-family: 'Open Sans';
  color: #404040;
  background: white;
}
.violet-highlight {
  color: #ADA7FF;
}
.main__wrapper {
  margin-left: 17px;
}
.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.header-buttons__menu {
  object-fit: contain;
  margin-left: 17px;
  width: 2rem;
  height: 2rem;
}

.header-buttons__options {
  object-fit: contain;
  margin-right: 17px;
  width: 2rem;
  height: 2rem;
}

.header-buttons__menu,
.header-buttons__options {
  max-width: 3rem;
  max-height: 3rem;
}

@media screen and (min-width: 768px) {
  .main__wrapper {
    margin-left: 135px;
  }
  .header-buttons__menu,
  .header-buttons__options {
    max-width: 4rem;
    max-height: 4rem;
    margin: auto;
  }
}

.border-hr {
  display: block;
  border-bottom: 1px solid #F5F5F5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title-container__header {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 43px;
  color: #302B3A;
  margin-right: 17px;
  width: 100%;
  height: 100%;

}
.title-container__description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #404040;
}

.actions-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 35px;
  align-items: center;
}

.fill-button {
  background: #ADA7FF;
  border-radius: 999px;
  width: 109px;
  height: 33px;
  position: relative;
  display:inline-block;
  overflow: hidden;
}

.fill-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}
.fill-button-text {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  width: 100%;
  height: 100%;
  align-items: center;
}

.fill-button-image {
  position: relative;
}

.play-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.play-container__image {
  width: 34px;
  height: 34px;
}

.play-container__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #ADA7FF;
}

.list,
.statistics__list {
  padding: 0;
  list-style-type: none;
}

.statistics {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
}
.statistics__list {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.statistics__item {
  font-size: 1.4vh;
  font-weight: 400;
  color: #686868;
}

.statistics__item:not(:last-child) {
  margin-right: 5vw;
}

.statistics__item__thick {
  color: black;
  font-weight: 700;
  font-size: 3.6vh;
}

.animals {
  margin-top: 6%;
  height: 43vh;
  width: 97%;
}

.animals__item {
  height: 44%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animals__item__reverse {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.animals__print {
  height: 5vh;
  width: 9vw;
}

.animals__bg {
  height: 24vh;
  width: 50vw;
}

.animals__photo {
  position: relative;
}

.animals__dog-image {
  height: 24vh;
  width: 36vw;
  position: absolute;
  right: 6%;
  top: 4%;
}

.animals__cat-image {
  height: 32vh;
  width: 62vw;
  position: absolute;
  top: -14%;
  right: 0%;
  left: 4%;
}

.header-menu {
  display: none;
  margin: auto;
}

.header-buttons__options {
  display: inline-block;
}

.list {
  width: 47vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__item {
  font-size: 3vh;
  font-weight: 600;
}

.header__button {
  display: none;
}

.button {
  width: 10vw;
  height: 10vh;
  font-weight: 400;
  font-size: 1.4vh;
  line-height: 23px;
  color: #FFFFFF;
  background: #ADA7FF;
  border: none;
  border-radius: 999px;
}

.header-buttons__get-started {
  display: none;
}

@media only screen and (min-width: 769px) {
  .button {
    font-size: 3vh;
  }

  .border-hr {
    display: none;
  }

  .header-buttons__options {
    display: none;
  }

  .header-buttons__get-started {
    display: inline-block;
    width: 146px;
    height: 55px;
    margin: auto;
  }

  .header-buttons {
    margin-top: 50px;
  }

  .header-menu {
    display: inline-block;
  }

  .statistics__item {
    font-size: 3vh;
  }

  .statistics__item__thick {
    color: black;
    font-weight: 700;
    font-size: 6vh;
  }

  .animals {
    margin-top: -2%;
    width: 40%;
    height: 80vh;
  }

  .animals__print {
    height: 6vh;
    width: 4vw;
  }

  .animals__bg {
    height: 36vh;
    width: 20vw;
  }

  .animals__photo {
    position: relative;
  }

  .animals__dog-image {
    height: 36vh;
    width: 14vw;
    position: absolute;
    right: 0%;
    top: 6%;
  }

  .animals__cat-image {
    height: 48vh;
    width: 26vw;
    position: absolute;
    top: -14%;
    right: 0%;
    left: 4%;
  }

  .animals {
    height: 50vh;
  }
}

