@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
html {
  font: 600 18px/25px 'Open Sans', sans-serif;
  background: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%), url(../assets/images/hero-bg.png) no-repeat;
  background-size: 100%;
  background-color: #000000;
  color: white;
}

body {
  overflow-x: hidden;
}

main {
  width: 100%;
  max-height: 1200px;
}

.navigation-header,
.links {
  display: flex;
  justify-content: space-between;
}

.navigation-header {
  width: 90%;
  margin-left: 84px;
}

.navigation-header {
  margin-top: 64px;
  margin-bottom: 198px;
  height: 25px;
  line-height: 25px;
  align-items: center;
}

.title,
.main-content__name,
.main_name_large,
.main-content__main-text {
  font-weight: 700;
  text-transform: capitalize;
}


.title {
  font-size: 24px;
  line-height: 33px;
}

.main-content__name {
  font-size: 96px;
  line-height: 104%;
}

.main_name_large {
  font-size: 88px;
}

.main-content__main-text {
  margin: auto;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.01em;
}

.nav-wrapper{
  margin-bottom: 196px;
}


.logo {
  padding-left:85px;
  font-weight: 700;
  font-size: 24px;
}

.navigation-header__nav {
  padding: 3.4% 4.4%;
  justify-content: space-between;
}


.navigation-header__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}



.navigation-header__list li + li{
  margin-left: 50px;
}

.navigation-header__nav a {
  color: white;
  text-decoration: none;
  font-weight:700;

}
.nav a:hover {
  color: #fff;
}

.info,
.links,
.email_item {
  padding: 0;
  list-style: none;
}

.links {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_item:not(:last-child),
.list_item:not(:last-child) {
  margin-right: 48px;
}

.list_item:last-child {
  margin-right: 64px;
}

.links_item:first-child {
  writing-mode: vertical-rl;
}

.links_item:not(:first-child) {
  margin-top: 22px;
}

.navigation-header__search {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  margin-right: 17px;
}

.main-content__content {
  display: flex;
  margin-left: 5%;
}

.yellow_dash {
  width: 72px;
  height: 2px;
  background: #FFC178;
}

.chapter {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 25px;
  margin-bottom: -60px;
}

.chapter_item,
.more_info,
.chapter_item_slider {
  color: #FFC178;
  font-weight: 700;
  letter-spacing: 6px;
  text-transform: uppercase;
}

.chapter_item {
  margin-left: 32px;
}

.chapter_item_slider {
  margin-right: 32px;
}

.lighter_name {
  font-weight: lighter;
}

.scroll-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 62px;
}

.content-block.reversed-content-block .content-section {
  margin-left: 0;
  margin-right: 200px;
}


.footer a {
  color: white;
  text-decoration: none;
}

.upper-row {
  padding-bottom: 40px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.footer-logo {
  font-weight: 700;
  font-size: 32px;
}

.button-block {
  display: flex;
  align-items: center;
}

.button-block > * + * {
  margin-left: 40px;
}

.button-title {
  font-style: normal;
  font-weight: 400;
}

.button {
  background-color: #ffa343;
  padding: 15px 50px;
  border: none;
  font-weight: 700;
  border-radius: 8px;
}

.footer-logo {
  font-weight: 700;
  font-size: 32px;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-right: 40px;
}

.footer-details {
  color: white;
}

.email-form {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.email-form__title {
  font-size: 28px;
  font-weight: 700;
}
.email_form__first-title {
  margin-bottom: 0;
}
.email_form__second-title {
  margin-top: 0;
}


.submit-form {
  flex-basis: 30%;
  display: flex;
  border-bottom: 1px solid white;
}

.email-input {
  background-color: transparent;
  border: none;
  caret-color: white;
  height: 100%;
  flex-grow: 1;
  color: white;
  font-size: 20px;
}

.email-input:focus {
  outline: none;
}

.email-input::placeholder {
  color: white;
  opacity: 0.5;
}

.submit-button {
  flex-basis: 18%;
  background-color: #ffa343;
  border: none;
  border-radius: 8px 8px 0 0;
}

.details-block-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.details-block-list > * + * {
  margin-top: 20px;
}

.details-block-list > li:first-child a {
  color: #ffd1a0;
}

.privacy-policy {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  color: white;
}

.licence-part {
  display: flex;
}

.licence-part > * + * {
  margin-left: 20px;
}

.footer-social-media-links {
  display: flex;
  align-items: center;
}

.footer-social-media-links > * + * {
  margin-left: 50px;
}

.copyright {
  color: white;
  margin-top: 100px;
  text-align: center;
  opacity: 0.5;
}

.bottom-styles {
  margin-top: 136px;
  margin-left: -30px;
  width: 102.5%;
  height: 358px;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 77.78%);
}

.sections-wrapper, .footer {
  width: 85%;
  margin-left: 100px;
  flex-direction: column;
}

.holidays,
.sections-wrapper,
.footer,
.culture {
  display: flex;
  justify-content: space-between;
}



.holidays,
.slider,
.culture {
  width: 100%;
}

.holidays {
  height: 70%;
  margin-top: -6%;
}

.slider {
  position: relative;
  margin-top: 18% ;
  width: 100%;
}

.slider_image {
  max-width: 100%;
  height: 100%;
}

.slider_data {
  position: absolute;
  bottom: 0;
}


.holidays_image,
.culture_image {
  width: 50%;
  height: 100%;
}

.holidays_image {
  margin-top: -6%;
}

.holidays_item,
.culture_item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 27px;
  width: 45%;
  height: 74%;
}

.header_section,
.slider_header,
.culture_header {
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
}

.header_section,
.culture_header {
  padding-right: 12%;
}
.navigation-header__text {
  margin-left: 10px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;

  color: #FFFFFF;
}

.holidays_text,
.slider_text,
.culture_text {
  margin-top: -50px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 32px;
}

.more_info {
  display: flex;
  align-items: center;
}

.slider_icons {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider_item {
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 109.55%);
  margin: auto;
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_info {
  margin-top: 20px;
  width: 68%;
  text-align: center;
}

.slider_header {
  margin-right: auto;
}

.material-symbols-outlined {
  margin: 0;
}

.culture {
  margin-top: 226px;
  align-items: center;
}


.explorance {
  display: flex;
}

.explorance_text {
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;

}

.email_lists {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.address {
  font-size: 19px;
  font-weight: 400;
}

.address:not(:first-child) {
  margin-top: 25px;
}

.address_title {
  font-weight: 700;
  color: #FFD1A0;
}

.email {
  height: 78%;
  width: 30%;
}

.email_header {
  margin-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.email_address {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.email_text {
  font-weight: 400;
  margin-left: 15px;
}

.email_button {
  height: 100%;
  margin-bottom: 0;
  margin-right: 0;
  width: 69px;
  background: #FFA343;
  border-radius: 8px 8px 0px 0px;
}

.copyright {
  text-align: center;
  margin-top: 156px;
  font-weight: 400;
}

.footer {
  margin: 250px auto 0;
  max-width: 1080px;
  padding-bottom: 60px;
}
