
.signup {
  display: flex;
}

.signup__container {
  background: #5E659D;
  border-radius: 20px;
  width: 100%;
  margin-top: 8vh;
  height: 25vh;
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.input-field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  padding-right: 2vw;
  padding-left: 2vw;
  height: 100%;
}

.input-field-container input {
  border: 4px solid #DBAC74;
  border-radius: 20px;
  width: 20vw;
  height: 4vh;
}

.input-field-container p {
  text-align: center;
  margin-right: 2vw;
}

.signup__image {
  height: 100vh;
  position: absolute;
  z-index: -1;
  object-fit: contain;
  top: -12vh;
}


