main {
  position: relative;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20vh;
}

.left-content__title {
  font-size: 11vh;
  line-height: 6vh;
  margin-bottom: 0;
  margin-top: 0;
}

.left-content__text {
  font-size: 3.2vh;
  line-height: 4vh;
}

.left-content__button {
  margin-top: 5vh;
  text-decoration: none;
  background: #5E659D;
  border: none;
  border-radius: 10px;
  align-items: center;
  display: flex;
  width: fit-content;
}

.left-content__button-text {
  color: white;
  font-size: 4vh;
  line-height: 2.8vh;
  padding: 1vw;
}
