
/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #dbac74;
  --color-black: #383838;
  --color-white: #ffffff;
  --color-main: #5e659d;
  --color-orange: #dbac74;
}

/* COMMON PAGE STYLES */
html {
  /* Apply download font "Poppins" by setting that on the first position in a row */
  font-family: "Poppins", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  background-color: var(--main-bg-color);
  color: var(--color-white);
}

#app {
  margin-left: 8vw;
}

body {
  overflow: hidden;
}

menu,
ol,
ul {
  padding: 0;
}
dd {
  margin: 0;
}

.not-active {
  display: none;
}

