/* Download font 'Rubik' from the internet */
/* If you'd like, you could use your own font. Please go to https://fonts.google.com/ and choose your favourite */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* This is called CSS Custom Properties */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
  --main-bg-color: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-red: #ff4948;
}

/* COMMON PAGE STYLES */
html {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: var(--main-bg-color);
  color: var(--color-black);
}

body {
  width: 100%;
}

.app {
  max-width: 768px;
  margin: 0 auto;
  overflow-x: hidden;
}

.red-gradient-background {
  background: linear-gradient(74.79deg, #FF9292 -7.33%, #DE5150 90.21%);
  width: 100%;
}

.white-background {
  background-color: #FFFFFF;
}

main {
  text-align: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-nav li {
  list-style: none;
}

.header-nav__ellipse, .footer-content__social-item {
  width: 100%;
  background: #FFFFFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav__ellipse {
  height: 8vh;
  width: 4vw;
}

.footer-content__social-item {
  width: 12vw;
  height: 12vw;
}

.header-nav__ellipse img, .footer-content__social-item img {
  width: auto;
  height: auto;
}

.header-nav__full-screen-items ul, .footer-content__social ul, .footer-content__menu ul {
  display: flex;
  gap: 2vw;
  align-items: center;
  justify-content: center;
}

.footer-content__social ul {
  gap: 4vw;
}

.nav-delimiter {
  border: 2px solid #FFFFFF;
  transform: rotate(90deg);
  opacity: 0.5;
  width: 4vh;
  height: 0;
}

.hero-area {
  display: flex;
  flex-direction: column;
}

.hero-area__image {
  width: 100%;
}

.hero-content {
  margin-left: 12vw;
  margin-right: 12vw;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero-content__title-medium {
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 0;
  font-size: 2vh;
  line-height: 4vh;
}

.hero-content__title-high {
  font-weight: 700;
  margin-top: 1vh;
  margin-bottom: 0;
  line-height: 110%;
  font-size: 5vh;
}

.hero-prices {
  display: flex;
  align-items: center;
  margin-top: 2vh;
}

.hero-prices__delimiter {
  border: 2px solid #FFFFFF;
  transform: rotate(90deg);
  width: 8vh;
  height: 0;
  margin: 0 auto;
}

.hero-prices__text {
  font-weight: 500;
  font-size: 31px;
  line-height: 140%;
  margin: 0 auto 0 0;
}

.hero-prices__main-text {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  margin: 0;
}

.hero-prices__line-through-text {
  text-decoration-line: line-through;
  opacity: 0.7;
}

.hero-action-btn {
  margin-top: 3vh;
  width: 100%;
  border-radius: 82px;
  border: none;
  color: #FF4948;
  background-color: white;
  padding: 1.5vh;
  margin-bottom: 6vh;
  height: 10%;
}

.hero-action-btn__text {
  font-weight: 500;
  font-size: 4vh;
  line-height: 140%;
  color: #FF4948;
  text-transform: uppercase;
}

.item-select__swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
  width: 77vw;
  margin-left: 12vw;
}

.swiper {
  max-width: 70%;
  height: 70vh;
}

.swiper-wrapper {
  top: 26%;
}


.slide-prev,
.slide-next {
  position: absolute;
  transform: translateY(35vh);
}

.slide-prev {
  left: 0;
}

.slide-next {
  right: 0;
}

.feature__heading, .heading-text {
  margin: 0;
  font-size: 4vh;
  font-weight: 500;
}

.feature__heading:first-child {
  margin-top: 4vh;
}

.red-gradient-background {
  height: 100%;
  width: 100%;
}

.header-nav__full-screen-items {
  display: none;
}

.only-mobile {
  display: block;
}

.header-nav__logo {
  width: 16vw;
}

.header-nav__menu-btn img {
  width: 12vw;
}

.slide {
  margin: 0 5%;
  height: 20vh;
  width: 96%;
}

.swiper-slide-active .slide {
  border-radius: 20px;
  transform: scale(1.5);
  border: 2px solid #7E767633;
}


/**/

.feature {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto 12%;
}

.info__description {
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 4vw;
  align-items: center;
}

.description__block-image {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #FDD8D8;
  border-radius: 100px;
  height: 6vh;
  width: 14vw;
}

.description__border {
  position: absolute;
  border-radius: 100px;
  border: 5px solid #FDD8D8;
  border-bottom: 8px solid #FF4948;
  height: 140%;
  width: 140%;
}

.description__image {
  height: 55%;
  width: 55%;
}

.feature__heading {
  font-size: 4.2vh;
  font-weight: 500;
}

.params__text {
  font-size: 2.2vh;
  line-height: 4vh;
  margin: 0;
}

.params__text__bold-red {
  font-weight: 500;
  color: #FF4948;
}

.feature-image-container {
  align-items: center;
  margin-top: 6vh;
  max-height: 100%;
  width: 30vw;
}

.product {
  margin: 0 auto 12%;
  width: 90vw;
  height: 80vh;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__title {
  /* border: 1px solid red; */
  width: 100%;
  text-align: center;
}

.title__heading {
  line-height: 10vh;
}

.title__text {
  line-height: 3.2vh;
}

.product__block-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
}

.product__item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.product__item-first {
  display: none;
}

.product__item-third {
  display: none;
}

.product__photo {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  width: 80%;
  height: 60%;
}

.product__photo-first {
  background: #FFE6EE;
}

.product__photo-second {
  background: #E6F1FF;
}

.product__photo-third {
  background: #E6FFFB;
}

.photo__block-icon {
  position: absolute;
  border: 6px solid #FFFFFF;
  right: -8%;
  top: -8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 7vh;
  width: 6.8vh;
}

.photo-first__block-icon {
  background: #FFE5EE;
}

.photo-second__block-icon {
  background: #E5F1FF;
}

.photo-third__block-icon {
  background: #E5FFFB;
}

.photo__icon {
  width: 50%;
  height: 50%;
}

.product__image {
  position: absolute;
  top: -30%;
  height: 120%;
  width: 50vw;
}

.product__rating {
  /* border: 1px solid red; */
  width: 80%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rating__block-icons {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-icons__image-star {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.7vw;
}

.image-star__item {
  height: 100%;
  width: 16%;
}

.rating-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating__text {
  font-size: 2.6vh;
}

.rating-info {
  font-weight: 500;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.rating-info__cost {
  font-size: 2.6vh;
  width: 20vw;
}

.rating-score {
  font-size: 2.2vh;
  font-weight: 500;
}

.boxing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 12%;
  width: 90%;
  height: 100%;
}

.boxing__image {
  width: 40vh;
  height: 60vh;
}

.boxing__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.boxing__info__heading {
  font-weight: 700;
  margin-bottom: 4vh;
}

.info__params {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30vh;
}

.params__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.params__item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item__photo {
  margin-right: 4%;
  height: 52%;
  width: 6%;
}

.item__text {
  font-size: 2.6vh;
  color: rgba(0, 0 , 0, 0.7);
}

.main-cta {
  width: 100vw;
  height: 44vh;
  background: #FFF4F4;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 7vh;
  align-items: center;
  margin: 0 auto 12%;
}

.main-cta__heading {
  font-weight: 700;
  line-height: 8vh;
  font-size: 10vw;
}

.main-cta__text {
  font-size: 3.8vw;
}

.main-cta__input {
  height: 46%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input__text {
  border: none;
  width: 94%;
  height: 38%;
  border-radius: 20px;
  font-size: 4vw;
  color: rgba(0, 0 , 0, 0.5);
  padding-left: 5%;
}

.input__button {
  border: none;
  width: 100%;
  height: 38%;
  border-radius: 20px;
  font-size: 4.8vw;
  font-weight: 500;
  color: white;
  text-align: center;
  background: #FF4948;
}

.footer__info {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info__block-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 36%;
}

.block-icons__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  height: 100%;
  width: 20%;
  border-radius: 100px;
}

.info__links {
  display: none;
}

.info__icon {
  height: 50%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.only-pc {
  display: none;
}

@media screen and (width > 768px) {
  .header-nav__full-screen-items {
   display: flex;
  }

  .app {
    max-width: 100%;
  }

  .header-nav__logo, .header-nav__menu-btn img {
    width: 6vw;
  }

  .hero-area {
    flex-direction: row;
    align-items: center;
  }


  .hero-content__title-medium {
    font-size: 3.2vh;
    line-height: 6vh;
  }

  .hero-content__title-high {
    line-height: 110%;
    font-size: 14vh;

  }

  .hero-action-btn {
    height: 10%;
    width: 40%;
  }

  .header-nav, .hero-area {
    margin-left: 6vw;
  }

  .hero-area__image {
    max-height: 100vh;
    width: 70vh;
    margin-top: -10vh;
  }

  .only-mobile {
    display: none;
  }

  .only-pc {
    display: block;
  }

  .red-gradient-background {
    height: 100vh;
  }

  .feature__heading, .heading-text {
    font-size: 5vh;
    font-weight: 700;
    align-self: start;
  }


  .slide {
    margin: 0 5%;
    height: 30vh;
    width: 96%;
  }

  .swiper-slide-active .slide {
    border: none;
    box-shadow: 0 21px 88px 0 #7E767633;
  }

  /**/
  .feature {
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 6% 12vw;
    height: 96vh;
  }

  .feature-description {
    width: 50%;
    margin-left: 12vw;
  }

  .feature__info {
    width: 35%;
    height: 100%;
  }

  .info__description {
    width: 80%;
  }

  .info__description {
    width: 80%;
  }

  .description__block-image {
    width: 4vw;
    height: 8vh;
  }

  .params__heading {
    font-size: 4.2vh;
  }

  .feature-image-container {
    margin: 0 auto;
    align-self: center;
    max-height: 80%;
    width: 50%;
  }

  .feature-image-container img {
    width: 60%;
  }

  .product {
    width: 82vw;
    margin: 0 auto 6%;
  }

  .product__item-first {
    display: flex;
  }

  .product__block-items {
    margin-top: 0;
  }

  .product__item-third {
    display: flex;
  }

  .rating-info__cost {
    width: 10vw;
  }

  .product__image {
    width: 75%;
  }

  .product__title {
    width: 48%;
    margin-bottom: 8vh;
  }

  .title__heading {
    line-height: 7vh;
  }

  .boxing {
    width: 90%;
    flex-direction: row;
    margin: 0 auto 8%;
  }

  .boxing__info {
    width: 70%;
  }

  .boxing__image {
    width: 46vw;
    height: 60vh;
  }

  .main-cta {
    margin: 0 auto 8%;
    width: 50vw;
    height: 36vh;
  }

  .main-cta__heading {
    line-height: 8vh;
    font-size: 3.4vw;
  }

  .main-cta__text {
    font-size: 1.2vw;
  }

  .main-cta__input {
    position: relative;
    height: 20%;
    width: 70%;
    flex-direction: row;
  }

  .input__text {
    height: 100%;
    font-size: 1.2vw;
  }

  .input__button {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    font-size: 1.4vw;
  }

  .info__description {
    gap: 2vw;
  }

  .footer-content__social-item {
    width: 4vw;
    height: 4vw;
  }

  .footer-content__logo {
    padding-right: 10vw;
  }

  .footer-content__social ul {
    gap: 2vw;
  }
}

.red-background {
  background: #E86564;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}


.footer-content__logo img {
  max-width: 82%;
  max-height: 82%;
}

.footer-content__menu ul {
  display: flex;
}

.footer-content__menu-item, .footer-content__social-item {
  list-style: none;
  color: white;
}

.footer-content__menu-item {
  font-size: 2.5vh;
}

.heading-text {
  margin-top: 2vh;
}

.footer-content {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
