.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}

.footer-nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4vw;
}

.footer-nav__item {
  font-size: 2.5vh;
  line-height: 1vh;
}
