
.feature {
  display: flex;
}

.left-content__buttons-container {
  display: flex;
  gap: 3vw;
  margin-top: 4vh;
  margin-bottom: 8vh;
}
.feature__image {
  height: 55vh;
  width: 55vw;
  position: absolute;
  z-index: -1;
  object-fit: contain;
  top: 10vh;
  right: 0;
}


